<!doctype html>
<html>
<head>
    <title>Tienda de Maquillaje</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        /* Estilos específicos para esta página pueden ir aquí */
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="https://static.vecteezy.com/system/resources/previews/002/378/022/original/woman-face-logo-free-vector.jpg" alt="Logo">
        </div>
        <div class="navbar-links">
            <a href="/" class="navbar-link">Home</a>
            <a href="/templates/Tienda.html" class="navbar-link">Tienda</a>
            <a href="#" class="navbar-link">Información</a>
            <a href="#" class="navbar-link">Más</a>
        </div>
    </nav>
    <div class="section section1">
        <div class="section-content">
            <h2 style="font-size:80px;font-family: Arial; color: aliceblue;">Tienda de Maquillaje</h2>
            <p style="font-size:20px;font-family: Arial;">Bienvenido a nuestra tienda de maquillaje. Tenemos una amplia selección de productos de belleza para ti.</p>
            <button class="btn">Ver productos</button>
        </div>
    </div>
    <div class="section section2">
        <div class="section-content">
            <h2 style="font-size:80px;font-family: Arial; color: aliceblue;">Últimas tendencias</h2>
            <p style="font-size:20px;font-family: Arial;">Descubre las últimas tendencias en maquillaje y mantente actualizado con nuestros consejos de belleza.</p>
            <button class="btn">Ver más</button>
        </div>
    </div>
</body>
</html>
